<!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <!--<li class="active"><a href="">{{ currentPage }}</a></li>-->
      <li><a href="/">ABSTrack</a></li>
      <li class = {{missions}}><a href="missions">Missions</a></li>
      <li class = {{prediction}}><a href="prediction">Predictions</a></li>
      <li class = {{recovery}}><a href="recovery">Recovery</a></li>
      <li class = {{found}}><a href="found">FOUND ONE!</a></li>
      <li class = {{about}}><a href="about">About Us</a></li>
    </ul>
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="https://www.youtube.com/channel/UCtGGGTlBGcjIDWj8MltnW8g" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
    </ul>
  </nav>
